<div class="about-section" style="margin-top: 2px;">
  <h1>ABOUT US PAGE</h1>
</div>

<div class="main-text">
  <p>
    HealthHub is the national population enablement platform for digital health that can be conveniently accessed by people via the online portal or mobile application to:

    Search doctors, hospitals and health and wellness centers.
    
  </p>
  <p>
    HealthHub is a discovery platform that will connect you to top-notch medical experts, hospitals, wellness options to help identify and make the right healthcare choices.Researched & Personalized Treatment Plan – Under One Roof-You can search for the best hospitals to treat cancer and ailments of the heart, bones or kidney, read about them.
      </p>
</div>

<h2 style="text-align:center">OUR TEAM</h2>
<!-- <div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../assets/Image/man.jpg" alt="Aayush" style="width:100%" class="images">
      <div class="container">
        <h2>Aayush Gupta</h2>
        <p>Aayush.gupta@coforgetech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
      <div class="card">
          <img src="../../../assets/Image/girl.jpg" alt="Shipra" style="width:100%" class="images">
          <div class="container">
              <h2>Shipra Singh</h2>
              <p>Shipra.2@coforgetech.com</p>
              <p><button class="button">Contact</button></p>
          </div>
      </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../assets/Image/girl.jpg" alt="Rashi" style="width:100%" class="images">
      <div class="container">
        <h2>Rashi Bhatia</h2>
        <p>Rashi@coforgetech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
    <div class="column">
      <div class="card">
          <img src="../../../assets/Image/man.jpg" alt="Anirudh" style="width:100%" class="images">
        <div class="container">
          <h2>Anirudh Pratap</h2>
          <p>Anirudh@coforgetech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

</div> -->
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../assets/Image/male.web" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">Chief Executive Officer</p>
        <p>Oversees employment decisions at the executive level of the company.</p>
        <p>Jane@healthhub.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/Image/male.web" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Director</p>
        <p>Develop and implement plans and objectives for the healthub in an effective and innovative fashion .</p>
        <p>Mike@healthhub.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/Image/male.web" alt="John" style="width:100%">
      <div class="container">
        <h2>David Lemos</h2>
        <p class="title">AVP</p>
        <p>Supporting the company's strategies and procedures for growth and development, working alongside the board executives</p>
        <p>David@healthhub.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>