
<div class="container" style="margin-top: 8%;">
    <div class="text-center">
        <h3>Appointment Page</h3>
    </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                
<form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
              >

    
    <div class="form-group">
        <label for="doctorid">Doctor ID: </label>
        {{id}}
                 
    </div>
    <div class="form-group">
        <label for="patientName">Name</label>
        <input type="text" name="patientName" class="form-control" required placeholder="Enter Name"
        [(ngModel)]="appt.pname"
        minlength="3"
          maxlength="20"
          #patientName="ngModel"/>
        <div class="alert-danger" *ngIf="f.submitted && patientName.invalid">
            <div *ngIf="patientName.errors?.['required']">Name is required</div>
            <div *ngIf="patientName.errors?.['minlength']">
              Name must be at least 3 characters
            </div>
            <div *ngIf="patientName.errors?.['maxlength']">
              Name must be at most 20 characters
            </div>
          </div>
    </div>

    <!-- docContactNo -->
    <!-- <div class="form-group">
        <label for="patientNo">Contact No</label>
        <input type="text" name="patientNo" class="form-control" required placeholder="Enter Phone Number"
        [(ngModel)]="form.patientNo"
        minlength="10"
        maxlength="10"
          #patientNo="ngModel"/>
        <div class="alert-danger" *ngIf="f.submitted && patientNo.invalid">
            <div *ngIf="patientNo.errors?.['required']">Phone Number is Required</div>
            <div *ngIf="patientNo.errors?.['minlength']">
              Please Enter 10 digits Phone number
            </div>
            
          </div>

    </div> -->

    <div class="form-group">
        <label for="title">Issue</label>
        <input type="text" name="title" class="form-control" maxlength="50" required placeholder="Please Enter the issue in brief Eg. Headache" [(ngModel)]="appt.title" #title="ngModel"/>

        <div class="alert-danger" *ngIf="f.submitted && title.invalid">
            <div *ngIf="title.errors?.['required']">Please Enter the Issue</div>
            <div *ngIf="title.errors?.['maxlength']">
              Please describe the issue with in 50 characters
            </div>
            
          </div>
    </div>

    <div class="form-group">
        <label for="appointmentdate">Appointment Date</label>
        <input type="date" name="appointmentdate" class="form-control" [(ngModel)]="appt.appointmentdate" #appointmentdate="ngModel" [ngClass]="{'is-invalid' : f.submitted && appointmentdate.invalid }" minlength="1" required />
        <div *ngIf="f.submitted && appointmentdate.invalid" class="invalid-feedback">
            <div >Date is required</div>
        </div>
    </div>

    <br><br>
    <button class="btn btn-primary">{{btn}}</button>
    
    <br><br>
    <div class="alert alert-warning" *ngIf="f.submitted && isApptBookd">
        Appointment Booking failed!<br />{{ errorMessage }}
      </div>
</form>
</div>
<div class="alert alert-success" *ngIf="isSuccessful">
    Your Appointment is Booked successfully!
  </div>
</div>
</div>